.wrapper {
  overflow: hidden;
  min-height: 100%;
  height: 100%;
}

.main{
  padding-top: 1rem;
  //height: 90vh;
  width: 100vw;

  //background: url('../../assets/img/round.jpg') #ffffff center no-repeat ;
  //background-color: #FFFFF8;
  color: #877f20;
  font-weight: 600;
  font-size: 1.4em;
  letter-spacing: 2px;

}
.container{
  height: 100%;
  margin: 0 auto;
  max-width: 1450px;

  .container__column{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}


.catalog__loading{
  max-width: 1000px;
  width: 100%;
  overflow: hidden;

}
form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;

  width: 100%;
  font-weight: 400;

    .catalog-product{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

       width: 300px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px 5px;
    padding: 5px;


      .catalog__column {
        padding: 20px;
        margin: 0 auto;
        font-size: 0.5rem;
        text-transform: capitalize;


        .catalog__name{
          padding-left: 10px;
          text-transform: capitalize;
          letter-spacing: normal;
          text-align: center;
          font-size: 23px;
          font-weight: 600;
        }
        .category__info{
          padding: 15px 0px;

          .catalog__category{
            text-align: center;
            display: flex;
            font-size: 16px;
            justify-content: flex-end;
          }
          .catalog__price{
            font-size: 15px;

            padding-left: 5px;
            text-transform: lowercase;
          }
        }

      }

  }
}
input[type=submit]{
  background-color: #111111;
  color: #FFFFF8;
  font-size: 20px;
  padding: 20px;
  max-width: 200px;
  margin: 10px;
}
.catalog__add{
  font-size: 1rem;
}
input[type=text]{
  border: none;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.2);
  margin-left: 10px ;
  font-weight: 400;
  text-transform: capitalize;
  //padding: 20px;
  font-size: 1rem;
  background: url('../../assets/img/search.gif') left / contain no-repeat  ;
  //background-position: 10px 10px;

  padding: 10px 50px;
}


