
  <div class="wrapper">
    <div class="main">
      <div class="container">


        <div class="container__column">
           <p *ngIf="error; else productsBlock" class="error">{{error}}</p>

        <ng-template #productsBlock>

            <div *ngIf="!loading; else loadingBlock" class="catalog__loading">

              <input type="text"placeholder="Find Product..." [(ngModel)]="searchStr" class="search__btn">
                <form action="" method="POST">

                  <div *ngFor="let product of products | searchProducts:searchStr" class="catalog-product" >

                      <input type="checkbox"  [class.completed]="product.completed"   (click)="addToggle($event)" >
                    <div class="catalog__column">
                          <p>{{product.id}}</p>
                         <p class="catalog__name">{{product.name}}</p>
                        <div class="category__info" >
                          <p class="catalog__category"> category: {{product.category}}</p>
                          <p class="catalog__price"> price for 1 item: {{product.price | number}}</p>
                        </div>
                    </div>

                  </div>

                </form>


              <div class="catalog__add">
                <p>Add Product</p>
              <input type="text" class="add__btn">
              </div>

              <input  type="submit" value="Add to cart" (click)="SendPr()" [routerLink]="['/order']">


            </div>



              <ng-template #loadingBlock>
                 <p>Loading...</p>
              </ng-template>

           </ng-template>
        </div>
      </div>
    </div>
  </div>

