<form method="post">
  <label for="GET-name"><p>Name:</p></label>
  <input id="GET-name" type="text" name="name" required placeholder="Elon">

  <label for="GET-lastName"><p>Last Name:</p></label>
  <input id="GET-lastName" type="text" name="lastName"  placeholder="Musk">

  <label for="GET-phone"><p>Phone Number:</p></label>
  <input id="GET-phone" type="text" name="phone" required placeholder="(0xx)-xxx-xxxx">

  <label for="GET-address"><p>Address:</p></label>
  <input id="GET-address" type="text" name="address" required placeholder="street + house">

<!--  <label for="GET-password"><p>Create password:</p></label>-->
<!--  <input id="GET-password" type="password" name="password" required placeholder="*******">-->


  <p><input type="submit" value="Sign up"></p>
</form>
