form{
  font-weight: 400;
  font-size: 25px;
  text-shadow: #f6f5d3 1px 0 10px;

  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fad791;
  margin: 0 auto;
  max-width: 500px;
  background: #ffffff;

  //margin: 0 auto;
  input[type=text] {
    text-transform: lowercase;
    letter-spacing: normal;
    border: none;
    border-bottom: 1px solid #170C0C;
    margin: 25px 10px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    //background-color: #170C0C;
    //color: #f6f5d3;
    //box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);

    &:focus{
      border-bottom: 3px solid #170C0C;
    }
    &::placeholder{
      color: #170C0C;
      font-weight: 400;
      font-size: 1rem;
      text-align: center;
    }
  }
  input{
    &.ng-invalid.ng-touched {
      border-bottom: 2px solid #d90707;
    }
    &.ng-valid.ng-touched {
      border-bottom: 2px solid #c0e39f;
    }
  }
  input[type=submit]{
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    background-color: #170C0C;
    color: #f6f5d3;
    border: none;
    margin-top: 10px;
  }
  .validation {
    & small{
      color: #d90707;
      font-size: 1.1rem;
      text-transform: capitalize;
      font-weight: 400;
    }
  }



}
